* {
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    font-family: 'Lexend', sans-serif;
    src : url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;1,500&family=Lexend&display=swap');
    font-weight: 400;
    font-size: 14px;
    border-radius: 0!important;
      
}

.container {
    margin: 0 auto;
}