.book-item__image {
  width: 200px;
  height: 300px;
  margin: 0 auto;
}

.book-item__name-title {
  font-size: 16px;
  font-weight: 600;
}
.book-item__footer {
  display: flex;
  justify-content: space-between;
}

.book-item__footer-price {
  padding: 9.5px;
  font-size: 14px;
  margin: 0;
  background: #f9f0e1;
  letter-spacing: 0px;
  line-height: 21px;
  font-family: inherit;
  color: #ff5722;
  font-weight: 700;
  text-align: center;
  outline: none;
}

.book-item__footer-btn {
  padding: 0 15px;
}
