.btn {
  height: 40px;
  font-size: 14px;
  border: 0;
  border-radius: none !important;
  letter-spacing: 0px;
  line-height: 21px;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.login-btn , .page-not-found__btn{
  width: 200px;
}

.logout-btn {
  width: 100px;
}

.logout-btn:hover:hover,
.book-item__footer-btn:hover,
.cart-form__button:hover,
.cart-data__btn:hover,

.page-not-found__btn:hover
{
  background-color: #ff5722;
  color: #fff;
}

.cart-btn {
  position: relative;
  font-size: 18px;
  width: 70px;
  z-index: 2;
}

.cart-btn:hover {
  background-size: 100% 2px;
}

.cart-btn:before {
  content: '';
  display: block;
  background-image: url('../../../icons/cart.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  width: 35px;
  height: 35px;
  position: absolute;
  left: -20px;
  z-index: 3;
}

.cart-form__button {
  position: absolute;
  right: 0;
  color: rgb(68, 67, 67);
  margin-top: 20px;
  width: 100px;
}

.cart-data__btn {
  border: 1px solid #b3b3b3;
  background-color: #fff;
  position: absolute;
  right: 18%;
  top: -80px;
  width: 100px;
}
