.common-btn {
    width: 200px;
    height: 40px;
    font-size: 14px;
    border: 0;
    border-radius: none!important;
    letter-spacing: 0px;
    line-height: 21px;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
    outline: none;
    cursor: pointer;
}
